body {
  background-color: #2c2141;
  min-height: 100vh; /* bez tego body jest tak wielkie jak content
  w nim zawarty wiec jezeli chcemy ustawic element na srodku
  to tego potrzebujemy */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem; /* zasada jest taka, zeby
  takie marginesy dawac poziom niz jest dany element, bez tego
  paddingu nasz card jest przyklejony do rogow ekranu,
  dzieki paddingowi jest od oddalony. Moglibysmy dac margin
  na poziomie card ale zasada jest taka, ze ten element card
  nie powinien wiedziec w czym sie zajmuje zatem lepiej dac padding poziom wyzej */
}


.card {
    background-color: #f8f8f8;
    border-radius: 1rem;
    padding: 2rem;
    flex-basis: 616px;
}

.card__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

}

.card__info {
  flex-basis: 380px; /*To jest po to, zeby wrap nie zawijal odrazu
  tej kolumny tylko na podstawie rozmiaru wiedzial jaki duzy jest ten element */
  flex-grow: 1; /* Zeby to roslo podczas zmniejszania*/
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__name {
  font-weight: 400;
  font-size: 36px;
  margin: 0;
}

.card__position {
  font-style: italic;
  font-size: 18px;
  margin: 0;
  color: #545454;

}

.card__description {
  margin: 0;
  line-height: 1.375; /* 22/16 to 22 to line-height z figmy a 16 to chyba default wartosc po prostu  */
}

.card_link {
    text-decoration: none;
    color: #E20613;
}

.special {
    color: #ED6D05;
}
